<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt="" />
    <ion-card-header>
      <ion-card-title>Welcome to Momentum Banking</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <h4>Account(s)</h4>
          </ion-col>
          <ion-col col-6>
            <ion-list lines="none">
              <ion-item (click)="updateAccounts()">
                <ion-icon slot="start" color="medium" name="md-add-circle"></ion-icon>
                <ion-label>New account </ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list-header>
    <ion-item *ngFor="let account of accounts" (click)="openAccount(account)">
      <ion-icon slot="start" color="medium" name="ios-card"></ion-icon>
      <ion-label>{{account}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>